<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <head th:replace="~{base :: headBase}"></head>
</head>
<body>
    <header th:replace="~{base :: headerBase}"></header>
    <h1>Clientes</h1>
    <h2>Lista de Clientes</h2>
    
    <a href="/cliente/form">Cadastrar novo</a>
    <br />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email<th>
                <th>Telefone</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${clientes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nome}"></td>
                <td th:text="${c.email}"></td>
                <td th:text="${c.telefone}"></td>
                <td>
                    <a th:href="@{'/cliente/editar/'+${c.id}}">Editar</a> |
                    <a th:href="@{'/cliente/deletar/'+${c.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>